################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BFP4FLauncherWV/bin/Release/CLIENT
